<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
    <!-- Theme Switcher -->
    <div class="theme-switch-wrapper">
      <span class="theme-icon">🌓</span>
      <label class="theme-switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>

    <!-- Theme Switcher Script -->
    <script src="{{ '/assets/css/theme-switcher.js' | relative_url }}"></script>
  </body>

</html>
